{% extends "courses/base.html" %}
{% block content %}
    <div class="content-section">
        <h1>About Us</h1>
        <p>
            This site began as a Python script I wrote to get into a couple of summer courses that filled up before I
            decided to take them by pinging pages on the SSC every three minutes or so and emailing me if there were
            any openings. The script worked and I was able to get into both courses within a couple of days. After
            mentioning it to some friends, it was suggested that I make a copy of the script publicly available.
            However, I felt that most people outside of computer science wouldn't be that comfortable downloading a
            Python script or executable file and configuring it on the command line. So I decided to port everything to
            a webapp as a quarantine project of sorts, and here we are. Everything is admittedly still a bit rough
            around the edges, as this is my first web project, but I'm confident that it can grow into something more
            impressive soon enough. Let me know what you think!
        </p>
        <p>
            If you have any suggestions for where I could take this project in the future or just want to reach out,
            feel free to email me at
            <a href="mailto:contact@ubccoursemonitor.email">contact@ubccoursemonitor.email</a>.
        </p>
    </div>
{% endblock content %}